
@function Rem($size) {
  @return $size / 16px * 1rem;
}
@mixin title {
    font-size: Rem(14px);
    font-weight: 800;
    
}
.footer{
    border-top: var(--border-main);
    > div{
        max-width: Rem(1100px);
        margin: 0 auto;
        padding-block: Rem(40px);
        display: flex;
        justify-content: space-between;
        gap: Rem(100px);
    }
}
.footer_left{
    flex: 1.3;
    border-right: var(--border-main);
    > a{
        @include title;
        margin-bottom: Rem(15px);
        margin-right: Rem(20px);
        display: inline-block;
    }
    > p{
        font-size:Rem(12px);
        
        > span{
            margin-top:Rem(5px);
            display: inline-block;
        }
        > .line{
            margin-inline:Rem(10px);
            width: 1px;
            height: 8px;
            background: var(--bg-ddd);
        }
    }
    > em{
        font-size:Rem(12px);
        color: var(--text-subTitle);
        margin-top: Rem(15px);
        display: block;
    }
}
.footer_right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    > li{
        display: flex;
        flex-direction: column;
        gap:  Rem(15px);
    }
    > li em{
        @include title;
    }
    > li a{
        font-size:  Rem(14px);
        font-weight: 500;
        display: block;
    }
    > li a:nth-child(2){
        margin: 0;
    }
}