@function Rem($size) {
  @return $size / 16px * 1rem;
}
.header{
    width: 100%;
    border-bottom: var(--border-main);
}
.header_inner{
    max-width: Rem(1100px);
    margin: 0 auto;
    padding-block: Rem(15px) Rem(10px);
}
.header_top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: Rem(15px);
    > a:first-child{
        flex: 1;
    }
}
.header_link{
    display: flex;
    gap:  Rem(10px);
    > a{
        font-size: Rem(14px);
        font-weight: 500;
        display: block;
        text-align: center;
        padding: Rem(10px);
        border-radius:  Rem(5px);
        &:hover{
            background: var(--bg-F1F4F6);
        }
    }
    > a:last-child{
        border:var(--border-major);
        color: var(--major-main);
        padding: Rem(10px) Rem(15px);
        &:hover{
            background: var(--major-main);
            color:var(--text-white);
        }
    }
}
.header_Btm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav{
    display: flex;
    gap: Rem(50px);
    > a{
        font-size: 1rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: Rem(10px);
        >svg{
            font-size: Rem(18px);
        }
    }
}
.header_search{
    position: relative;
    > label{
        position: absolute;
        right:Rem(10px);
        top:0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        >svg{
            font-size: Rem(18px);
        }
    }
}
.profile{
    position: relative;
}
.profileImg{
    border-radius: Rem(35px);
    overflow: hidden;
    font-size: 0;
    > div{
        width:Rem(35px);
        height: Rem(35px);
    }
}
.profile_tap{
    position: absolute;
    width: Rem(200px);
    border-radius: Rem(5px);
    background: var(--bg-main);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4.6px;
    right: 0;
    top: Rem(40px);
    z-index: 99;
    overflow: hidden;
    > div{
        
        border-bottom: var(--border-main);
        &:last-child{
            border-bottom: 0;
        }
        padding-block: 1rem;
        &:first-child{
            padding: Rem(15px) Rem(20px);
        }
    }
    > div em{
        font-size: 1rem;
        font-weight: 600;
    }
    > div p{
        font-size: Rem(12px);
        font-weight: 500;
        color: var(--text-subTitle);
        margin-top: Rem(5px);
    }
    > div a, > div button{
        display: block;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        padding: Rem(10px) Rem(20px);
        width: 100%;
        &:hover{
            background: var(--bg-FCDAD3);
            color: var(--major-main);
        }
    }
    
}