@import '@/styles/_mixins.module.scss';
@import '@/styles/_functions.scss';

.mentorwrap{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    > a{
        padding: 20px 20px 28px;
        border: var(--line-color);
        border-radius: 1rem;
        overflow: hidden;
        display: block;
    }
}
.title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    line-height: 1.2;
    color: var(--text-main);
    font-weight: 600;
    margin-bottom: 1rem;
}
.itemtop{
    display: flex;
    gap: 6px;
    justify-content: space-between;
    width: 100%;
    > div{
        min-height: 86px;
    }
}
.field{
    display: inline-flex;
    background: var(--bg-F1F4F6);
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 600;
}
.name{
    display: block;
    font-weight: 600;
    color: var(--text-main);
    line-height: 1;
    font-size:  0.875rem;
    margin-block: 0 0.625rem;
}
.career{
    line-height: 1;
    font-size: 0.875rem;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 0.625rem;
}
.profile{
    border-radius: 50%;
    border: var(--line-color);
    padding: 2px;
}