.modalBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.7);
        display: flex;
    align-items: center;
    justify-content: center;
}
.modalback{
    background: var(--bg-main);
    padding: 1.25rem;
    border-radius: 1rem;
    position: relative;
    // width: 32rem;
    > button{
        font-size: 1.5625rem;
        position: absolute;
        right:1.25rem;
        top: 1.25rem;
    }
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    > p{
        font-size: 1rem;
        font-weight: 700;
    };
}