@import '@/styles/_functions.scss';

.tap_warp{
    display: flex;
    gap: size(20px);
    > button{
        font-size: size(14px);
        font-weight: 500;
        border: var(--border-main);
        padding:size(12px) size(15px);
        border-radius: size(30px);
    }
    .tap_active{
        border: var(--border-major);
        color:var(--major-main) ;
        background:var(--bg-FCDAD3)
    }
}
