.button{
  width: 100%;
  font-size: 0.875rem;
  height:3.125rem;
  font-weight: 500;
  border-radius:5px;
  background:var(--major-main);
  color:var(--text-white);
  &:disabled{
    background: var(--bg-F1F4F6);
    color:var(--text-title);
  }
}
.width80{
  width: 5rem;
}