@import '@/styles/_functions.scss';
@mixin size {
    height: size(40px);
  font-size: size(12px);
}
.button{
  width: 100%;
  font-size: size(14px);
  height: size(50px);
  font-weight: 500;
  border-radius:5px;
  background:var(--major-main);
  color:var(--text-white);
  &:hover {
    background-color: #E83A0D;
  }
  &:disabled{
    background: var(--bg-F1F4F6);
    color:var(--text-title);
  }
}
.width80{
  width: size(80px);
}
.bgborder{
  background: var(--bg-main);
  border: var(--border-main);
  color: var(--text-subTitle);
  &:hover {
    border: 1px solid #E83A0D;
    color:var(--text-white);
  }
}
.widthSmall {
  width: size(60px);
  @include size;
}
.widthManage {
  width: size(90px);
  @include size;
}
.bgnone{
    background: #6B7280;
    color: var(--text-white);
    &:hover{
        background: #4B5563;
    }
}