@mixin search {
    background:var(--bg-F1F4F6);
    border:var(--border-search);
    &::placeholder{
        color: var(--text-9094A8);
    }
}
@function calculateRem($size) {
  @return $size / 16px * 1rem;
}

.input{
    width: 100%;
    height: calculateRem(50px);
    border-radius: calculateRem(5px);
    border:var(--border-main);
    font-size: calculateRem(14px);
    padding-inline: calculateRem(15px);
    letter-spacing: -0.3px;
    -moz-appearance: textfield;
    appearance: textfield;
    &:focus{
         border:var(--border-major);
    }
}
.bgsearch{
    @include search;
    width: calculateRem(400px);
    height: calculateRem(40px);
}

.flexon{
    flex: 1;
}