
.input{
    width: 100%;
    height: 3.125rem;
    border-radius:5px;
    border:var(--border-main);
    font-size: 0.875rem;
    padding-inline: 1rem;
    letter-spacing: -0.3px;
    -moz-appearance: textfield;
    appearance: textfield;
    &:focus{
         border:var(--border-major);
    }
}
.bgsearch{
    background:var(--bg-F1F4F6);
    border:var(--border-search);
    width: 25rem;
    height: 2.5rem;
    &::placeholder{
        color: var(--text-9094A8);
    }
}

.height40{
    height: 2.5rem;
}

.flexon{
    flex: 1;
}