@import '@/styles/_functions.scss';
.selet{
    position: relative;
    > button{
        width: 100%;
        height: size(50px);
        border-radius: 5px;
        border: var(--border-main);
        font-size: size(14px);
        padding-inline: size(15px);
        letter-spacing: -0.3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    > button p{
        color: var(--text-subTitle);
        font-size: size(14px);
    }
}
.seletbox{
    position: absolute;
    top: size(50px);
    left: 0;
    width: 100%;
    border-radius: 5px;
    background: var(--bg-main);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4.6px;
    padding-block: 1rem;
    z-index: 1;
    > button{
        width: 33.3%;
        text-align: left;
        font-size: size(14px);
        font-weight: 500;
        padding: size(15px) size(20px);
        &:hover{
            background: var(--bg-FCDAD3);
            color: var(--major-main);
        }
    }
}