:root {
  --font-pretendard: 'Pretendard';

  // Primary Colors
  --primary-color: #8C88F0;
  --secondary-color: #98D8D0;
  --accent-color: #F4A7A8;

  // Text Colors (Light Mode)
  --text-main: #333333;
  --text-subtle: #666666;
  --text-light: #E5E5E5;
  --text-white:#fff;
  // Background Colors (Light Mode)
  --background-color: #fff;
  --card-bg: #ffffff;
  --line-color: 1px solid #DDDDDD;
  --hover-color: #E3E0FF;
  --bg-373d40:#373d40;
  --bg-F1F4F6:#F0F5F5;
  // Border Color
  --line-primary-color: 1px solid #8C88F0;
  // Shadow (Light Mode)
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 다크 모드 설정 (body.dark-mode) */
body.dark-mode {
  --text-main: #E5E5E5;
  --text-subtle: #AAAAAA;
  --text-light: #ffffff;

  --background-color: #1A1A1A;
  --card-bg: #2A2A2A;
  --line-color: #444444;
  --hover-color: #6464F7;

  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  color: var(--text-main);
  background: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-weight:400;
  font-family: var(--font-pretendard), sans-serif;
}

button,a,input{
  text-decoration: none;
  color: var(--text-subtle);
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  
}
em,strong,p,h1,h2,h3,h4,h5,h6,a{
  margin: 0;
  padding: 0;
  font-style:normal
}
p,span,a{
  color: var(--text-subtle);
}
button{
  cursor: pointer;
}

ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
  appearance:textfield
}