@import 'tailwindcss';
@import './fonts.css';
@import './viewer.css';
@import './calendar-custom.css';

:root {
  --primary: #6366f1; /* 퍼플 */
  --primary-sub01: #818aff;
  --primary-sub02: #f4f5fa;
  --primary-sub03: #2c3e50;
  --primary-sub04: #6c9bcf;

  --background: #ffffff;
  --border-color: #eeeeee;

  --text: #333333;
  --text-sub: #555555;
  --text-bold: #222222;

  /* 배경 & 텍스트 */
  --editor-bg: #ffffff;
  --editor-text: #2f2f2f;
  --editor-text-sub: #6b7280; /* 회색톤 */
  --editor-text-bold: #111111;

  /* 코드 */
  --editor-code-bg: #f6f8fa;
  --editor-code-text: #d6336c;
  --editor-code-block-bg: #f6f8fa;
  --editor-code-block-text: #1f2937;
  --editor-code-border: #e5e7eb;

  /* 인용문 */
  --editor-quote-border: #e5e7eb;
  --editor-quote-bg: #fafafa;
  --editor-quote-text: #4b5563;

  /* 테이블 */
  --editor-table-border: #e5e7eb;
  --editor-table-header-bg: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #818aff;
    --primary-sub01: #a5b4fc;
    --primary-sub02: #1e1f29;
    --primary-sub03: #d1d5ff; /* 밝은 퍼플 톤으로 */
    --primary-sub04: #93c5fd;

    --background: #0a0a0a;
    --border-color: #2e2e2e;

    --text: #e5e7eb;
    --text-sub: #9ca3af;
    --text-bold: #ffffff;

    --editor-bg: #0f1115; /* 거의 블랙에 가까운 다크 그레이 */
    --editor-text: #e5e7eb; /* 라이트 그레이 본문 */
    --editor-text-sub: #9ca3af; /* 서브 텍스트 */
    --editor-text-bold: #ffffff; /* 강조는 화이트 */

    /* 코드 */
    --editor-code-bg: #1e1e1e; /* 인라인 코드 */
    --editor-code-text: #fca5a5; /* 은은한 살몬핑크/레드 */
    --editor-code-block-bg: #1e1e1e;
    --editor-code-block-text: #d1d5db;
    --editor-code-border: #2e2e2e;

    /* 인용문 */
    --editor-quote-border: #374151; /* 다크 그레이 라인 */
    --editor-quote-bg: #1a1c20; /* 살짝 톤 있는 다크 배경 */
    --editor-quote-text: #9ca3af; /* 옅은 그레이 텍스트 */

    /* 테이블 */
    --editor-table-border: #2e2e2e;
    --editor-table-header-bg: #1f2937;
  }
}

/* 커스텀 글로벌 스타일 추가 가능 */
@layer base {
  html {
    --font-pretendard:
      'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
      'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', sans-serif;
  }

  body {
    font-family: var(--font-pretendard);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--background);
    color: var(--text-sub);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
  }

  p {
    margin: 0;
    word-break: keep-all;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  em {
    font-style: normal;
    word-break: keep-all;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    word-break: keep-all;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }

  textarea {
    resize: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text-sub) !important;
  }
}

::-webkit-scrollbar {
  width: 0.1875rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.5rem;
}

.scroll-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary-sub01) transparent;
}

.scroll-custom::-webkit-scrollbar {
  width: 3px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: var(--primary-sub01);
  border-radius: 0.5rem;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type='number'] {
  appearance: textfield; /* 기본 스타일 제거 (크롬 기준) */
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
