@import '@/styles/_mixins.module.scss';
@import '@/styles/_functions.scss';
.mypage_section{
     @include flex;
}
.mypage_aticle{
    width: 100%;
    border-radius: 10px;
    border: var(--border-main);
    padding: size(20px) size(30px);
    &:first-child{
        margin-bottom: size(15px);
    }
}
.mypage_title {
    @include title;
}
.info_item{
    display: flex;
}
.item_title{
    @include item_title;
    line-height:size(40px);
}
.img_button{
    width: size(100px);
    height: size(100px);
    border-radius: 10px;
    overflow: hidden;
    > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}