@import '@/styles/_mixins.module.scss';
@import '@/styles/_functions.scss';

.section{
    display: flex;
    gap: 50px;
    word-break: keep-all;
    align-items: flex-start;
    > article{
        flex: 1;
    }
}


.field{
    font-size: 13px;
    border-radius: 3px;
    padding: 3px 8px;
    background: var(--bg-FCDAD3);
    color: var(--major-main);
}
.title{
    display: block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.4;
    margin-block: 0.5rem 1rem;
}

.aside{
    width: 350px;
    border-radius: 10px;
    border: var(--border-main);
    top: 160px;
    position: sticky;
    padding: 1.5rem 1rem;
}
.imgbox {
    width: size(100px);
    height: size(100px);
    @include img;
    border-radius: 50%;
    margin: 0 auto;
}
.textbox{
    border-top: var(--border-main);
    padding-top: 1.3rem;
    margin-top: 1.3rem;
    em {
        display: block;
        font-size: size(14px);
        font-weight: 400;
        margin-block: 0.5rem;
        > span{
            font-size: size(22px);
            font-weight: 600;
        }
    }
    p{
        margin-top: 0.5rem;
        font-size: size(14px);
        > strong{
            color: var(--major-main);
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}

