@import '@/styles/_mixins.module.scss';
@import '@/styles/_functions.scss';
@mixin status {
  padding: size(4px) size(8px);
  font-size: size(12px);
  font-weight: 500;
  border-radius: size(4px);
}
.program_section{
     @include flex;
}
.program_title {
    @include title;
    display: flex;
    gap: size(10px);
    align-items: center;
    margin-bottom: 0;
}
.detail_top{
  border-bottom: var(--border-main);
  padding-bottom: size(30px);
}
.detail_top_tip{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status {
  @include status;
  background: var(--bg-FCDAD3);
  color: var(--major-main);
}
.none{
  @include status;
  background: var(--bg-FCDAD3);
  color: var(--major-main);
}
.detail_title{
  font-size: size(24px);
    font-weight: 700;
    margin-block: size(16px);
}
.detail_info_meta{
  display: flex;
  gap: size(24px);
  font-size: size(14px);

  > div {
    display: flex;
    align-items: center;
    gap: size(8px);

    span:first-child {
      color: var(--text-subTitle);
    }

    span:last-child {
      font-weight: 500;
    }
  }
}
.detail_bottom{
  border-bottom: var(--border-main);
  padding-bottom: size(30px);
  margin-top: size(30px);
}
.button_wrap{
  display: flex;
  gap: size(10px);
  justify-content: flex-end;;
    margin-top: size(20px);
}