.article{
    width: 23.75rem;
    margin: 0 auto;
    padding-block: 1.25rem;
    >h4{
        font-size: 1.5625rem;
        font-weight: 700;
        color: var(--text-title);
        margin-bottom: 1.875rem;
        > span{
            color: var(--major-main);
        }
    }
}