@import '@/styles/_mixins.module.scss';
@import '@/styles/_functions.scss';
.mypage_section{
     @include flex;
}
.mypage_aticle{
    width: 100%;
    border-radius: 10px;
    border: var(--line-primary-color);
    padding: 1.25rem size(30px);
    &:first-child{
        margin-bottom: 1rem;
    }
}
.mypage_title {
    @include title;
}
