.header{
    height: 5rem;
    border-bottom: var(--border-main);
    width: 100%;
    background: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.25rem;
     position: sticky;
    top: 0;
}
.header_search{
    position: relative;
    width: 25rem;
    > label{
        position: absolute;
        right:0.625rem;
        top:0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        >svg{
            font-size: 1.125rem;
        }
    }
}
.header_right{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header_right_icons{
    border-left: var(--border-main);
    padding-left: 1.25rem;
     display: flex;
      gap: 1.25rem;
      font-size: 0;
      > button > svg{
        font-size: 1.25rem;
        color: var(--text-subTitle);
        &:hover{
            color: var(--major-main);
        }
      }
}
.header_right_profile{
    
    display: flex;
    gap: 0.625rem;
    align-items: center;
    > img{
        border-radius: 50%;
        overflow: hidden;
    }
    > span{
        font-size: 0.875rem;
        color: var(--text-subTitle);
        font-weight: 600;
    }

}